* {
	margin:0;
	padding:0;
	border:0;
}
button {
	border-radius: 4px;
	padding:3px 4px;
	display:inline-block;
}
.grid {
	text-align: center;
	padding:15px 0;
}
.grid div:first-child{
	display: inline-block;
	font-size:0;
}
.img-row, .img-col {
	font-size:0;
}
.img-row {
}
.img-col {
	width:25px;
	height:25px;
	display: inline-block;
	background-repeat: no-repeat;
	transition:1s;
    transform-style: preserve-3d;
}
.img-col.dim div{
	width:100%;
	height:100%;
	display: block;
	position: absolute;
	background:rgba(0,0,0,.1);
}
.img-col.dim .front {
	transform:translateZ(2px);
}
.img-col.dim .back {
	transform:translateZ(-2px) rotateY(180deg);

}
.controls {
	text-align: center;
}